.underConstruction {
  display: flex;
  flex-direction: column;
  font-family: "MSQTSemiBold";
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 930px) {
  .underConstruction {
    width: 80%;
    min-height: 90vh;
  }
}