.onboarding {
  border-top: 1px solid #f0f0f0;
  position: fixed;
  padding: 38px 0;
  bottom: 0;
  background-color: #fff;
  text-align: center;
  width: calc(100% - 352px);
  left: 32px;
  opacity: 0;
  visibility: hidden;
  transition: all .6s cubic-bezier(0.15, 0.9, 0.34, 0.95);

  
  h2 {
    font-family: 'MSemiBold';
    font-size: 22px;
    color: #313131;
    margin-bottom: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all .6s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  }

  p {
    color: #a1a1a1;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
    transform: translateY(21px);
    transition: all .6s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  }

  &.active {
    opacity: 1;
    visibility: visible;

    h2 {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
      transition: all .6s cubic-bezier(0.15, 0.9, 0.34, 0.95) 0.1s;
    }

    p {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: all .6s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    }
  }
}