.userMenu {
  color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settingsIcon {
  height: 20px;
  color: #777;
  padding-left: 10px;
}

.iconContainer {
  display: flex;
  cursor: pointer;
}