.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
}

.brand {
  font-family: 'MSQTSemiBold';
  color: #000;
}