.layout {
  display: flex;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  flex-direction: column;
  font-family: 'MSQT';
  height: 100%;
}