@font-face {
  font-family: 'MMedium';
  src: url("MatterTRIAL-Medium.woff2") format("woff2"), url("MatterTRIAL-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MSQT';
  src: url("MatterSQTRIAL-Regular.woff2") format("woff2"), url("MatterSQTRIAL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'M';
  src: url("MatterTRIAL-Regular.woff2") format("woff2"), url("MatterTRIAL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MSQTSemiBold';
  src: url("MatterSQTRIAL-SemiBold.woff2") format("woff2"), url("MatterSQTRIAL-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'MSemiBold';
  src: url("MatterTRIAL-SemiBold.woff2") format("woff2"), url("MatterTRIAL-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Myriad';
  src: url("MYRIADPRO-REGULAR.woff") format("woff");
  font-weight: normal;
  font-style: normal; }