.contentGroup {
  margin-bottom: 30px;
}

.contentGroupTitle {
  display: table;
  padding-left: 40px;
  text-transform: uppercase;
  font-family: 'MSemiBold';
  color: #a9a9a9;
  margin-bottom: 0.5rem;
  font-size: 10px;
  letter-spacing: 1px;
}

.contentGroupItem {
  position: relative;

  .delete {
    display: none;
    opacity: 0;
    width: 0;
  }

  .trashIcon {
    width: 12px;
  }

  .actionMenu {
    display: none;
  }

  .actionLabel {
    float: rigth;
    opacity: 0;
    visibility: none;
    text-transform: uppercase;
    font-size: 9.75px;
    color: #a9a9a9;
    font-family: 'MSemiBold';
    letter-spacing: 1px;
  }
}

.contentGroupItem.active {
  box-shadow: 0px 10px 17px 0px #f3f3f3;
  width: 90%;
  max-height: 15rem;
  z-index: 2;
  margin: 0 auto;

  .actionMenu {
    display: block;
    float: right;
  }

  .groupItemSubContent,
  .groupItemSubContentDone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .groupItemSubContentDone {
    justify-content: flex-end;
  }

  .groupItemName {
    border-bottom-color: #f0f0f0;
  }

  &:hover {
    .delete {
      display: inline-block;
      animation: moveIt .3s cubic-bezier(0.55, 0.6, 0.34, 0.95) forwards;
    }

    .actionLabel {
      opacity: 1;
      visibility: visible;
      transition: opacity 2s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    }

    .groupItemName:hover {
      background-color: #fff;
    } 
  }
}

.groupItemName {
  cursor: pointer;
  display: table;
  width: 100%;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 14px;
  border-bottom: 1px solid transparent;
  padding-bottom: 14px;
  font-family: 'MMedium';
  color: #313131;
  position: relative;

  &:hover {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
  }
}

.groupItemSubContent,
.groupItemSubContentDone {
  display: none;
  height: 58px;
  padding: 0 30px;

  .subContentCancel,
  .subContentConfirm,
  .subContentRemove {
    font-family: 'MSemiBold';
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #303030;
    cursor: pointer;
  }
}

@keyframes moveIt {
  0% {
    width: 0;
  }
  20% {
    width: 5px;
  }
  40% {
    width: 10px;
  }
  60% {
    width: 13px;
  }
  70% {
    width: 15px;
  }
  75% {
    width: 16px;
  }
  80% {
    width: 17px;
  }
  100% {
    width: 20px;
    opacity: 1;
  }
}